<nav class="navbar is-light">
  <div class="navbar-brand">
    <!-- Hamburger menu for mobile -->
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" (click)="toggleNavbar()" [class.is-active]="isNavbarActive">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" [class.is-active]="isNavbarActive">
    <div class="navbar-end">
      <a routerLink="/todos" class="navbar-item">
        <span class="icon">
          <i class="fas fa-list"></i>
        </span>
        <span>Todos</span>
      </a>
      <a routerLink="/about" class="navbar-item">
        <span class="icon">
          <i class="fas fa-info-circle"></i>
        </span>
        <span>About</span>
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
